a {
    color: var(--main-colour);
    text-decoration-thickness: 1.5px;
}

body {
    padding: 0;
    background-color: var(--background-colour);
}

.credit {
    font-style: italic;
    font-size: 0.8rem;
}

.english {
    grid-area: english;
}

.german {
    grid-area: german;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    font-style: italic;
    margin: 0 0 0 10vw; 
}

h2, h3 {
    color: var(--main-colour);
    font-style: italic;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: var(--main-colour);
    color: var(--light-colour);
    z-index: 1;
}

#intro {
    grid-area: left1;
}

main {
    position: absolute;
    top: 60px;
    min-width: 200px;
    text-align: justify;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "left1 right1"
        "left2 right2"
        "left3 right3";
    column-gap: 5%;
    row-gap: 10px;
    margin-left: 10vw;
    margin-right: 5vw;
}

.part-card {
    width: 100%;
    background-color: #fff;
    border: 3px solid var(--main-colour);
    border-radius: 5px;
    padding: 10px;
}

#part1 {
    grid-area: left2;
}

#part2 {
    grid-area: left3;
}

#pic1 {
    grid-area: right1;
}

#pic2 {
    grid-area: right2;
}

#pic3 {
    grid-area: right3;
}

.right {
    margin-top: 50px;
}

.right-img {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 5px;
}

.right-img-wrapper {
    position: sticky;
    top: 75px;
}

:root {
    font-size: 16px;
    font-family: 'Sorts Mill Goudy', sans-serif;
    --main-colour: #cf2946;
    --light-colour: #fff;
    --background-colour: rgba(255, 245, 245, 1);
}

.spotify {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "german english";
    gap: 5px;
    text-align: left;
}