/* Snippet to overrule any and all animations/transitions if user prefers less motion */
@media screen and (prefers-reduced-motion: reduce) {  
    * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }

    html {
        scroll-behavior: auto !important;
    }
}

a {
    color: var(--main-color);
    text-decoration-thickness: 1.5px;
}

a:hover {
    color: var(--highlight-color);
}

#accessibility-button {
    background-color: #fff;
    border: 2px solid #fff; /*gives it the same overall size as the adjacent button which has a visible border*/
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#accessibility-button:hover, #accessibility-button:focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

#accessibility-pop-up {
    width: 25vw;
    min-width: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    margin-top: 20px;
    padding: 17px 34px 17px 34px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    z-index: 2;
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#accessibility-pop-up > div {
    cursor: pointer;
}

.accessibility-toggle {
    border: 2px solid #000;
    margin: 20px 10% 20px 10%;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.accessibility-toggle:hover, #accessibility-toggle:focus {
    background-color: #000;
    color: #fff;
}

body {
    padding: 0;
    background-color: var(--background-color);
}

button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
    margin: 0;
}

.button-container {
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container-1 {
    grid-column: 3 / 3;
}

#button-container-2 {
    grid-column: 4 / 4;
}

.center {
    text-align: center;
}

#close-accessibility-pop-up {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
}

.credit {
    font-style: italic;
    font-size: 0.8rem;
}

.english {
    grid-area: english;
}

#full-width-band {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.german {
    grid-area: german;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    font-style: italic;
    margin: 0;
}

#h1-title {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

h2, h3 {
    color: var(--main-color);
    font-style: italic;
    text-align: left;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    color: var(--light-color);
    z-index: 1;
    display: grid;
    grid-template-columns: 10vw 4fr 1fr 1fr;
    grid-template-rows: 50px;
}

html {
    scroll-behavior: smooth;
    
    /*fix for the header covering up content when the page scrolls to an in-page anchor*/
    scroll-padding-top: 50px;
}

.indent {
    padding-left: 2em;
}

#intro {
    grid-area: left1;
    font-size: 1.1rem;
}

#jump-button {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--highlight-color);
    color: #fff;
    font-weight: normal;
    font-style: normal;
    display: inline;
    margin-left: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#jump-button:hover, #jump-button:focus {
    background-color: var(--main-color);
} /* :focus on the link for div's bgcolor is set in js */

#jump-button > a:hover {
    color: #fff;
}

main {
    position: absolute;
    top: 60px;
    min-width: 200px;
    text-align: justify;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "left1 right1"
        "left2 right2"
        "left3 right3";
    column-gap: 2.5vw;
    row-gap: 2.5vw;
    margin: 0 5vw 0 8vw;
}

.none {
    text-decoration: none;
    color: inherit;
}

.none:hover {
    color: inherit;
}

.part-card {
    width: 100%;
    background-color: rgb(255, 252, 248);
    border: 3px solid var(--main-color);
    border-radius: 10px;
    padding: 1vw 2.5vw 1vw 2.5vw;
    box-sizing: border-box;
}

#part-card-1 .scroll-to-top {
    grid-area: to-prev;
    text-align: left;
}

#part-card-6 .scroll-to-top {
    grid-area: to-next;
    text-align: right;
}

#part1 {
    grid-area: left2;
}

#part2 {
    grid-area: left3;
}

#pic1 {
    grid-area: right1;
}

#pic2 {
    grid-area: right2;
}

#pic3 {
    grid-area: right3;
}

#privacy-button {
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: 2px solid #fff;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.recitative {
    text-align: justify !important;
}

.right {
    margin-top: 50px;
}

.right-img {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 5px;
}

.right-img-wrapper {
    position: sticky;
    top: 75px;
}

:root {
    font-size: 16px;
    font-family: 'Sorts Mill Goudy', serif;
    --main-color: #cf2946;
    --light-color: #fff;
    --background-color: rgba(255, 245, 245, 1);
    --highlight-color: #f37f9c;
}

/* Automatic high contrast for those who prefer it on those browsers that support it */
@media (prefers-contrast: high) {
    :root {
        --main-color: rgb(102, 10, 30) !important;
        --background-color: #fff !important;
        --highlight-color: rgb(102, 10, 30) !important;
    }
}

.scroll-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "to-prev to-top to-next";
    gap: 5px;
}

.scroll-links a {
    text-decoration: none;
    cursor: pointer;
}

.scroll-to-top {
    grid-area: to-top;
    text-align: center;
} /* but the first one uses left position with no scroll-to-prev: see #part-card-1 .scroll-to-top
and the last one uses right position with no scroll-to-next: see #part-card-6 .scroll-to-top */

.scroll-to-next {
    grid-area: to-next;
    text-align: right;
}

.spotify {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 0;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "german english";
    gap: 1rem;
    text-align: left;
}